<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar') %>
      <div class="container mt-3">
        <div class="row row-cols-3">
        <% blog.forEach(blog=>{ %>
            <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="<%= blog.coverImageURL %>" class="card-img-top" height="150px" width="150px">
                <div class="card-body">
                  <h5 class="card-title"><%= blog.title %></h5>
                  <p class="card-text"></p>
                  <a href="/api/blogs/<%= blog._id %>" class="btn btn-primary">view</a>
                </div>
              </div>
            </div>
        <% }) %>
    </div>
      </div>
    <%- include('./partials/scripts') %>
</body>
</html>